In [2]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_na.csv')

In [11]:
my_stat = df

In [58]:
df.query('n_users >= 0').median()

group            10.0
n_users           7.0
session_value     0.0
dtype: float64

In [13]:
values = {'session_value': 0}
df = df.fillna(value=values)

In [14]:
df.loc[df.n_users < 0, 'n_users']= 7.0

In [15]:
df.n_users = df.n_users.abs()

In [22]:
my_stat = df

In [33]:
my_stat = my_stat.groupby('group', as_index=False).mean()

In [34]:
my_stat

   group   n_users  mean_session_value
0    7.0  7.000000            0.000000
1    8.0  6.588235           -0.294118
2    9.0  7.723214            0.151786
3   10.0  7.394737           -0.047368
4   11.0  7.344000            0.112000
5   12.0  6.647059           -0.382353
6   13.0  5.666667            0.000000

In [37]:
 mean_session_value_data = my_stat.rename(index=str, columns={"session_value": "mean_session_value"})

In [41]:
mean_session_value_data = mean_session_value_data[['group', 'mean_session_value']]

In [42]:
mean_session_value_data

   group  mean_session_value
0    7.0            0.000000
1    8.0           -0.294118
2    9.0            0.151786
3   10.0           -0.047368
4   11.0            0.112000
5   12.0           -0.382353
6   13.0            0.000000

In [48]:
values = {'session_value': 0}
my_stat = my_stat.fillna(value=values)

In [50]:
my_stat.head(5)

   group  n_users  session_value time
0    9.0     -9.0            1.0    A
1   10.0      8.0            2.0    B
2   10.0     -1.0            4.0    A
3   10.0     -0.0            0.0    B
4    9.0    -15.0           -1.0    B

In [38]:
median_values = {'n_users' : 7.5}
renamed_df = renamed_df.fillna(value=median_values)

In [ ]:
renamed_

In [30]:
renamed_df.loc[renamed_df.n_users < 0, 'n_users']= 7.0