In [2]:
import numpy as np
import pandas as pd

In [4]:
df =pd.read_csv('https://stepik.org/media/attachments/course/4852/accountancy.csv')

In [6]:
df.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [8]:
df.shape

(50, 4)