In [ ]:
import pandas as pd
import nympy as np

In [3]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')

In [6]:
df.head(5)

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

В переменную с именем subset_1 сохраните только первые 10 наблюдений и только 1 и 3 колонку.

In [13]:
df_first_10 = df.loc[0:9]

In [15]:
subset_1 = df_first_10[['V1', 'V3']]

In [17]:
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A