In [2]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/income.csv')

In [7]:
df.head(5)

            income
2018-11-30      20
2018-12-31      60
2019-01-31     180
2019-02-28     380
2019-03-31     660

In [9]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns