In [49]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')

In [34]:
df.head(10)

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0
5   2  11.0  A  0.0
6   0   9.0  A  2.0
7   1   9.0  A  1.0
8   0   9.0  B  2.0
9  -1  10.0  A  0.0

В переменную с именем subset_1 сохраните только первые 10 наблюдений и только 1 и 3 колонку.

In [13]:
df_first_10 = df.loc[0:9]
subset_1 = df_first_10[['V1', 'V3']]

In [17]:
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

В переменную с именем subset_2 сохраните все наблюдения кроме 1 и 5 и только 2 и 4 колонку.

In [32]:
excepted_rows_df = df.index.isin([0,])
filtered_rows = df[~excepted_rows_df]
subset_2 = filtered_rows[['V2', 'V4']]

In [35]:
filtered_rows.head(10)

    V1    V2 V3   V4
0    2  13.0  B  1.0
2    0  11.0  A  0.0
3    2  11.0  A  2.0
4    0  10.0  B -1.0
6    0   9.0  A  2.0
7    1   9.0  A  1.0
8    0   9.0  B  2.0
9   -1  10.0  A  0.0
10   1  10.0  A  1.0
11  -2  10.0  A  1.0

In [45]:
df['V5']=df['V1']+df['V4']
df['V6'] = np.log(df.V2)

In [53]:
df

     V1    V2 V3   V4   V5        V6
0     2  13.0  B  1.0  3.0  2.564949
1    -1   7.0  B  1.0  0.0  1.945910
2     0  11.0  A  0.0  0.0  2.397895
3     2  11.0  A  2.0  4.0  2.397895
4     0  10.0  B -1.0 -1.0  2.302585
5     2  11.0  A  0.0  2.0  2.397895
6     0   9.0  A  2.0  2.0  2.197225
7     1   9.0  A  1.0  2.0  2.197225
8     0   9.0  B  2.0  2.0  2.197225
9    -1  10.0  A  0.0 -1.0  2.302585
10    1  10.0  A  1.0  2.0  2.302585
11   -2  10.0  A  1.0 -1.0  2.302585
12    0   8.0  B  0.0  0.0  2.079442
13    1  12.0  A  3.0  4.0  2.484907
14   -1  10.0  A  2.0  1.0  2.302585
15    2  10.0  B  1.0  3.0  2.302585
16    0   9.0  B  1.0  1.0  2.197225
17    0  11.0  A  0.0  0.0  2.397895
18    0   8.0  A  1.0  1.0  2.079442
19    0  10.0  A  1.0  1.0  2.302585
20    1  10.0  B  2.0  3.0  2.302585
21    3  10.0  A  2.0  5.0  2.302585
22   -2  12.0  A  3.0  1.0  2.484907
23   -1  11.0  B  3.0  2.0  2.397895
24    2   8.0  B -0.0  2.0  2.079442
25    2  10.0  A  3.0  5.0  2.302585
26    2  12.0  A  1.0  3.0  2.484907
27    2   9.0  A  1.0  3.0  2.197225
28   -2  10.0  B  0.0 -2.0  2.302585
29    0   8.0  A  1.0  1.0  2.079442
..   ..   ... ..  ...  ...       ...
470   0   9.0  A -0.0  0.0  2.197225
471  -1  10.0  B  2.0  1.0  2.302585
472   3   9.0  B  1.0  4.0  2.197225
473  -1  10.0  B  1.0  0.0  2.302585
474   0   9.0  B  1.0  1.0  2.197225
475  -1  10.0  B  2.0  1.0  2.302585
476   0  10.0  B  0.0  0.0  2.302585
477  -2  12.0  B  2.0  0.0  2.484907
478   1   9.0  B -0.0  1.0  2.197225
479  -2  11.0  A  1.0 -1.0  2.397895
480   0   8.0  B  2.0  2.0  2.079442
481  -1   9.0  A  1.0  0.0  2.197225
482  -1  10.0  B -0.0 -1.0  2.302585
483   2  10.0  B  2.0  4.0  2.302585
484  -1  10.0  A -0.0 -1.0  2.302585
485   0  12.0  A  1.0  1.0  2.484907
486  -3  10.0  B  1.0 -2.0  2.302585
487  -1  10.0  B -0.0 -1.0  2.302585
488   0  11.0  B -0.0  0.0  2.397895
489   0  10.0  A -0.0  0.0  2.302585
490   0  12.0  A  0.0  0.0  2.484907
491   4   7.0  A  2.0  6.0  1.945910
492  -1   9.0  A  1.0  0.0  2.197225
493   0   9.0  A  1.0  1.0  2.197225
494   1  11.0  A  1.0  2.0  2.397895
495   1   8.0  A -1.0  0.0  2.079442
496   3   8.0  A  1.0  4.0  2.079442
497  -1  11.0  B  2.0  1.0  2.397895
498   1  11.0  A  2.0  3.0  2.397895
499   0   8.0  B  1.0  1.0  2.079442

[500 rows x 6 columns]

In [54]:
 df.rename(index=str, columns={"V1": "session_value",\
                               "V2": "group",\
                              "V3":"time", \
                              "V4":"n_users"})

     session_value  group time  n_users   V5        V6
0                2   13.0    B      1.0  3.0  2.564949
1               -1    7.0    B      1.0  0.0  1.945910
2                0   11.0    A      0.0  0.0  2.397895
3                2   11.0    A      2.0  4.0  2.397895
4                0   10.0    B     -1.0 -1.0  2.302585
5                2   11.0    A      0.0  2.0  2.397895
6                0    9.0    A      2.0  2.0  2.197225
7                1    9.0    A      1.0  2.0  2.197225
8                0    9.0    B      2.0  2.0  2.197225
9               -1   10.0    A      0.0 -1.0  2.302585
10               1   10.0    A      1.0  2.0  2.302585
11              -2   10.0    A      1.0 -1.0  2.302585
12               0    8.0    B      0.0  0.0  2.079442
13               1   12.0    A      3.0  4.0  2.484907
14              -1   10.0    A      2.0  1.0  2.302585
15               2   10.0    B      1.0  3.0  2.302585
16               0    9.0    B      1.0  1.0  2.197225
17               0   11.0    A      0.0  0.0  2.397895
18               0    8.0    A      1.0  1.0  2.079442
19               0   10.0    A      1.0  1.0  2.302585
20               1   10.0    B      2.0  3.0  2.302585
21               3   10.0    A      2.0  5.0  2.302585
22              -2   12.0    A      3.0  1.0  2.484907
23              -1   11.0    B      3.0  2.0  2.397895
24               2    8.0    B     -0.0  2.0  2.079442
25               2   10.0    A      3.0  5.0  2.302585
26               2   12.0    A      1.0  3.0  2.484907
27               2    9.0    A      1.0  3.0  2.197225
28              -2   10.0    B      0.0 -2.0  2.302585
29               0    8.0    A      1.0  1.0  2.079442
..             ...    ...  ...      ...  ...       ...
470              0    9.0    A     -0.0  0.0  2.197225
471             -1   10.0    B      2.0  1.0  2.302585
472              3    9.0    B      1.0  4.0  2.197225
473             -1   10.0    B      1.0  0.0  2.302585
474              0    9.0    B      1.0  1.0  2.197225
475             -1   10.0    B      2.0  1.0  2.302585
476              0   10.0    B      0.0  0.0  2.302585
477             -2   12.0    B      2.0  0.0  2.484907
478              1    9.0    B     -0.0  1.0  2.197225
479             -2   11.0    A      1.0 -1.0  2.397895
480              0    8.0    B      2.0  2.0  2.079442
481             -1    9.0    A      1.0  0.0  2.197225
482             -1   10.0    B     -0.0 -1.0  2.302585
483              2   10.0    B      2.0  4.0  2.302585
484             -1   10.0    A     -0.0 -1.0  2.302585
485              0   12.0    A      1.0  1.0  2.484907
486             -3   10.0    B      1.0 -2.0  2.302585
487             -1   10.0    B     -0.0 -1.0  2.302585
488              0   11.0    B     -0.0  0.0  2.397895
489              0   10.0    A     -0.0  0.0  2.302585
490              0   12.0    A      0.0  0.0  2.484907
491              4    7.0    A      2.0  6.0  1.945910
492             -1    9.0    A      1.0  0.0  2.197225
493              0    9.0    A      1.0  1.0  2.197225
494              1   11.0    A      1.0  2.0  2.397895
495              1    8.0    A     -1.0  0.0  2.079442
496              3    8.0    A      1.0  4.0  2.079442
497             -1   11.0    B      2.0  1.0  2.397895
498              1   11.0    A      2.0  3.0  2.397895
499              0    8.0    B      1.0  1.0  2.079442

[500 rows x 6 columns]