In [2]:
import pandas as pd
import numpy as np

In [3]:
students_performance = pd.read_csv('http://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [4]:
students_performance.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [5]:
filtered = students_performance[(students_performance['writing score'] > 50) & (students_performance.gender == 'male')]

In [6]:
filtered

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
4,male,group C,some college,standard,none,76,78,75
8,male,group D,high school,free/reduced,completed,64,64,67
10,male,group C,associate's degree,standard,none,58,54,52
13,male,group A,some college,standard,completed,78,72,70
16,male,group C,high school,standard,none,88,89,86
20,male,group D,high school,standard,none,66,69,63
22,male,group D,some college,standard,none,44,54,53
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
28,male,group C,high school,standard,none,70,70,65
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
43,male,group B,some college,free/reduced,completed,59,65,66
45,male,group B,associate's degree,standard,none,65,54,57
49,male,group C,high school,standard,completed,82,84,82
51,male,group E,associate's degree,free/reduced,completed,77,69,68
53,male,group D,high school,standard,none,88,78,75
58,male,group D,some college,standard,completed,58,59,58
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
62,male,group A,associate's degree,free/reduced,none,62,61,55
65,male,group B,some high school,standard,none,67,64,61
68,male,group B,associate's degree,free/reduced,none,61,58,56
71,male,group D,some college,standard,completed,63,55,63
73,male,group C,some high school,free/reduced,none,61,57,56
77,male,group A,bachelor's degree,standard,completed,80,78,81
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
...,...,...,...,...,...,...,...,...
932,male,group D,associate's degree,free/reduced,completed,61,71,73
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74
934,male,group C,associate's degree,standard,completed,98,87,90
935,male,group D,some college,free/reduced,none,70,63,58
936,male,group A,associate's degree,standard,none,67,57,53
938,male,group D,some college,standard,completed,85,81,85
939,male,group D,some high school,standard,completed,77,68,69
940,male,group C,master's degree,free/reduced,completed,72,66,72
942,male,group C,high school,standard,none,81,66,64
943,male,group A,some high school,free/reduced,completed,61,62,61
946,male,group B,high school,standard,none,82,82,80
948,male,group B,some high school,free/reduced,completed,49,50,52
950,male,group E,high school,standard,none,94,73,71
953,male,group C,high school,standard,completed,58,52,54
955,male,group E,associate's degree,standard,none,72,57,62
956,male,group C,some college,standard,none,84,87,81
959,male,group C,high school,standard,none,75,81,71
964,male,group D,some college,standard,none,72,57,58
966,male,group A,some high school,standard,completed,66,68,64
967,male,group C,some college,standard,none,63,63,60
971,male,group C,some high school,standard,completed,78,72,69
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
985,male,group A,high school,standard,none,57,51,54
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55

In [7]:
filtered = students_performance[students_performance.lunch == 'free/reduced']

In [8]:
len(filtered.index)/len(students_performance.index)

0.355

In [11]:
free_reduced = students_performance[students_performance.lunch == 'free/reduced']
standart_lunch = students_performance[students_performance.lunch == 'standard']

In [14]:
free_reduced.mean()

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [15]:
standart_lunch.mean()

math score       70.034109
reading score    71.654264
writing score    70.823256
dtype: float64

In [16]:
free_reduced.var()

math score       229.824270
reading score    221.871139
writing score    238.202881
dtype: float64

In [17]:
standart_lunch.var()

math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64